<div class="container">
    <h2>Employee List </h2>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.emailId}}</td>
            </tr>
        </tbody>
    </table>
</div>